<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>combined</Pattern>
            <Pattern>%h %l %u %t &quot;%r&quot; %s %b</Pattern>
        </encoder>
    </appender>

    <appender-ref ref="STDOUT" />
</configuration>